---
layout: default
title: Curriculum Vitae
---
	<h1>{{ page.title }}</h1>

	<p><a href="CVAllanMartell.pdf"> Download CV </a></p>

	<ul class="martelldata">
	  {% for item in site.cv.data.martelldata %}
	    <li><span>{{ item.key }}</span></li>
	    <li><span>{{ item.value }}</span></li>
	  {% endfor %}
	</ul>

	<ul class="education">
	  {% for item in site.cv.data.education %}
	    <li><h3>{{ item.period }}</h3></li>
	    <li><span>{{ item.description }}</span></li>
	  {% endfor %}
	</ul>

	<ul class="researchfocus">
	  {% for item in site.cv.data.researchfocus %}
	    <li><h3>{{ item.key }}</h3></li>
	    <li><span>{{ item.value }}</span></li>
	  {% endfor %}
	</ul>

	<ul class="research">

		{% for type in site.cv.data.research %}
		<li><h2>{{ item.type }}</h2></li>

		<ul class="type">
	  		{% for item in type %}
			  	<li><h3>{{ item.period }}</h3></li>
			    <li><span>{{ item.description }}</span></li>
	  		{% endfor %}
	  	</ul>

	  	{% endfor %}
	</ul>

	<ul class="work_experience">

		{% for type in site.cv.data.workexperience %}
		<li><h2>{{ item.type }}</h2></li>

		<ul class="type">
	  		{% for item in type %}
			  	<li><span><h3>{{ item.period }} </h3></span></li>
			    <li><span>{{ item.description }}</span></li>
	  		{% endfor %}
	  	</ul>

	  	{% endfor %}
	</ul>

	<p> Test 2 </p>
